{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:prettier/recommended"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "window": true,
        "IMAGE_PATH": "readonly",
        "GLOBAL_CONFIG": "readonly",
        "API_URL": "writable"
    },
    "parser": "babel-eslint",
    "ignorePatterns": ["node_modules", "dist", "public/index.html"],
    "rules": {
        "prettier/prettier": "error",
        "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }]
    }
}