.header {
    color: #425363;
    font-size: 18px;
    height: 50px;
    z-index: 999;
    
    &__items {
        list-style: none;
    }

    &__item {
        position: absolute;
        top: 17px;
        cursor: pointer;

        &--1 {
            left: 34px;
        }
        &--2 {
            left: 139px;
        }
        
        a {
            color: inherit;
            text-decoration: none;
        }
        
        .active {
            color: #ffffff;
            pointer-events: none;
        }
    }
}